<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="free-play-button">
      <h2><a href="/home">Back to Home</a></h2>
    </div>

    <h1><%= title %></h1>
    <ul>
      <% characters.forEach((cha) => { %>
        <h2><a href=<%= "characters/" + cha.ID %> ><%= cha.Name %></a></h2>
      <% }); %>
    </ul>
  </body>
</html>
