<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - Social Circles</title>
    <link rel="stylesheet" href="/stylesheets/user_page.css" />
</head>
<body>
    <div class="yellow-circle"></div>
    <div class="container">
        <h2>Create Your Social Circles Account</h2>
        <% if (typeof error !== 'undefined' && error) { %>
            <p class="error"><%= error %></p>
          <% } %>
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <p></p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <p></p>
            <button type="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a href="/">Log in</a></p>
    </div>
</body>
</html>
