<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <div class="top-left-links">
      <h2><a href="/characters">Characters</a></h2>
      <h2><a href="/userpage">User Profile</a></h2>
      <h2><a href="/">Back to Login</a></h2>
    </div>

    <!-- Canvas for your game or content -->
    <div class="canvas-container">
      <canvas id="gameCanvas"></canvas>
    </div>
  </body>
</html>