<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% characters.forEach((cha) => { %>
        <h2><a href=<%= "char_page/" + cha.ID %> ><%= cha.Name %></a></h2>
      <% }); %>
    </ul>
  </body>
</html>
