@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  padding: 50px;
  font: 15px "DM Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url('/images/background.png') no-repeat center center fixed;
  background-size: contain; 
  background-color: #f4f4f4;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  max-width: 80%; 
  height: auto;
  margin-bottom: 80px; 
}

/*  pill ish login box */
.login-box {
  background-color: #d4c369;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 500px;
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
 
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Prevents elements from overflowing */
}

/* "FREE PLAY" button */
.free-play-button {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #d4c369; 
  border: none;
  border-radius: 25px; 
  text-decoration: none; 
  transition: background 0.3s ease-in-out;
}

.free-play-button:hover {
  background-color: #388E3C; 
}


/* Style the title */
h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Style for the form elements */
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for the submit button */
button {
  width: 100%;
  padding: 10px;
  background-color: #857a42;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Style for the error message */
p.error {
  color: red;
  font-size: 14px;
}
